<div id="<%= dom_id image %>">
  <p>
    <strong>Name:</strong>
    <%= link_to image.name, image_path(image) %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image.picture? ? image_tag(image.picture.url, size: "100x100") : "No image uploaded"%>
  </p>

  <p>
    <strong>User:</strong>
    <%= image.user.email %>
  </p>

</div>
